@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 222 47% 9%; /* #0c1324 */
    --foreground: 226 69% 92%; /* #dbe2fb */
    
    --card: 223 39% 13%; /* #141b2d */
    --card-foreground: 226 69% 92%;
    
    --popover: 223 34% 14%; /* #181f31 */
    --popover-foreground: 226 69% 92%;
    
    --primary: 223 100% 84%; /* #afc6ff */
    --primary-foreground: 215 100% 21%; /* #002d6c */
    
    --secondary: 260 100% 86%; /* #d2bbff */
    --secondary-foreground: 266 100% 28%; /* #3f008e */
    
    --muted: 223 34% 14%; /* #181f31 */
    --muted-foreground: 228 20% 80%; /* #c2c6d6 */
    
    --accent: 223 21% 25%; /* #32394c */
    --accent-foreground: 226 69% 92%;
    
    --destructive: 3 100% 83%; /* #ffb4ab */
    --destructive-foreground: 3 100% 20%; /* #690005 */

    --border: 224 23% 24%; /* #2d3448 */
    --input: 223 39% 13%; /* #141b2d */
    --ring: 223 100% 84%; /* #afc6ff */

    --radius: 16px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
